/****************************
Barra de navegação vertical */

/* ul {
    
    list-style-type: none; */ /*remove  os pontos, numeros e letras de Listas ordenadas ou não ordenadas*/
    /* margin: 0;
    padding: 0;
} */

/* li {
    padding: 10px 40px; 
    background: url(./assets/img/seta.png) no-repeat left center;
} */


/****************************
/Barra de navegação */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {
    /* border: 1px solid red; */
    width: 200px;
    height: 40px;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-indent: 40px ;
    font-weight: bold;
    line-height: 40px;
    
    background: #f7b600 url(./assets/img/menu.png) no-repeat left bottom;    
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color:white;
   
}

#home #navegacao-lateral .home a,
#sobre #navegacao-lateral .sobre a,
#servicos #navegacao-lateral .servicos a,
#noticias #navegacao-lateral .noticias a,
#contato #navegacao-lateral .contato a {
    background-position: right bottom;
    background-color: #f99200;
    color:white;
}

h2 {
    color:#f99200 ;
    padding: 20px;
}